body {
  background: #e5e5e5;
  margin-left: 50px;
  margin-right: 70px;
}
header {
  margin-top: 70px;
}
h1 {
  color: red;
  font-family: Arial, sans-serif;
}
h2 {
  font-family: Arial, sans-serif;
}
p {
  font-size: 18px;
  text-align: justify;
}
img {
  margin-bottom: 20px;
  width: 100vw;
}
ul {
  list-style-type: square;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
section {
  margin-top: 1rem;
  border-top: 1px solid #000;
}
#services {
  margin-top: 2rem;
}
.logo {
  width: 150px;
}
.icon {
  margin-bottom: 0;
  width: 30px;
}
.container,
.contact-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.contact-group {
  gap: 5px;
}
footer {
  width: 100%;
  border-top: 1px solid #000;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  body {
    margin-left: 100px;
    margin-right: 150px;
  }
  img {
    margin-bottom: 20px;
    width: 300px;
  }
  .container,
  .contact-group {
    flex-direction: row;
    align-items: flex-end;
  }
  .contact-group {
    justify-content: flex-start;
    align-items: center;
  }
}
